body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 32px;
  background-color: lightblue;
}
main {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  padding: 1rem;
  background-color: lightcoral;
  text-align: center;
  box-sizing: border-box;
}

/* 태블릿: 768px 이상 */

@media screen and (min-width: 768px) {
  .box {
    width: calc(50% - 8px);
  }
}

/* 데스크톱: 1024px 이상 */

@media screen and (min-width: 1024px) {
  .box {
    width: calc(33.3% - 20px);
  }
}
